/*----------------------------*/
/* GLOBALS */
* {
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: #000;
  color: white;
}

html {
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  box-shadow: inset;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-resizer {
  pointer-events: none;
  box-shadow: red 0px 0px 0px 0px;
  display: none;
  width: 0px;
  height: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: red;
  border-image: initial;
  background: none;
  outline: none;
}

h2 {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem 8rem 1rem 2rem;
  align-items: baseline;
  float: left;
  position: absolute;

  background-image: linear-gradient(
      45deg,
      rgb(27, 27, 27),
      rgb(27, 27, 27) 3.2rem,
      rgba(0, 0, 0, 0) 3.2rem
    ),
    linear-gradient(
      135deg,
      rgb(27, 27, 27),
      rgb(27, 27, 27) 3.2rem,
      rgba(0, 0, 0, 0) 3.2rem
    ),
    linear-gradient(135deg, rgb(27, 27, 27), rgb(27, 27, 27));
  background-repeat: no-repeat;
  background-position: 100% 100%, 100% 100%, -3.2rem 100%;
  background-size: 4.8rem 100%, 4.8rem 100%, 100% 100%;
}

/*----------------------------*/
/* PALLETTE */

:root {
  --main_blue: #4588cc;
}

/*----------------------------*/
/* HEADER */

header {
  display: block;
  position: fixed;
  z-index: 1000;
  width: 100%;
  transition: 0.5s;
  padding: 1rem 0 1rem 0;
}

header.abajo {
  background: #fff;
}

header.abajo ul li {
  color: rgb(0, 0, 0);
  font-weight: 700;
}

header.abajo button {
  color: black;
  font-weight: 700;
}

header.abajo .active {
  opacity: 1;
}

/*----------------------------*/
/* MENU */

.leftmenu {
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 0% 5% 0 5%;
}

.h-default .logo2 {
  width: 10%;
}

header ul {
  color: white;
  display: inline-flex;
}

header li {
  display: flex;
  padding: 0 0 0 30px;
  text-align: center;
}

header a {
  text-decoration: none;
  color: #fff;
}

header.abajo a {
  text-decoration: none;
  opacity: 0.5;
  color: #000;
}

header a:hover {
  cursor: pointer;
  color: var(--main_blue);
  transition: 0.2s;
}

header button {
  background: none;
  border: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  color: white;
  padding: 0.8rem;
}

header button:hover {
  color: var(--main_blue);
  transition: 0.2s;
  cursor: pointer;
}

.selected {
  color: var(--main_blue);
  transition: 0.2s;
}

header.abajo .selected {
  color: var(--main_blue);
  transition: 0.2s;
}

.open-menu,
.close-menu,
#es-mobile,
#en-mobile {
  display: none;
}

#es,
#en,
#es-mobile,
#en-mobile {
  margin: 0;
  display: none;
}

@media screen and (max-width: 1100px) {
  header nav {
    display: block;
    margin: 0% 5% 0 5%;
  }

  header.abajo a {
    color: #fff;
    font-weight: 300;
    opacity: 1;
  }

  header.abajo #es-mobile,
  #en-mobile {
    color: #fff;
    font-weight: 300;
  }

  #es-mobile {
    margin-top: auto;
  }

  #en-mobile {
    margin-bottom: auto;
  }

  .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: #21282f;
    color: #fff;
    height: 100%;
    overflow-y: auto;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  .menu li {
    padding: 0;
  }

  .menu a {
    line-height: 6rem;
  }

  .open-menu,
  .close-menu {
    display: block;
  }

  header.abajo .close-menu {
    color: #fff;
  }

  .close-menu {
    align-self: flex-end;
    padding-right: 2.75rem;
    margin-bottom: 0;
  }

  .language-btn {
    display: none;
  }

  .leftmenu {
    display: flex;
    justify-content: space-between;
  }

  .leftmenu .logo2 {
    width: 10%;
  }

  .open-menu {
    margin-bottom: 0;
  }

  .menu_opened {
    opacity: 1;
    pointer-events: all;
  }
}

/*----------------------------*/
/* SECTIONS */

.content {
  margin: 0;
  width: 100%;
  height: 100%;
}

section[id] {
  scroll-margin-top: 65px;
}

/*----------------------------*/
/* SECTION INICIO */

section:nth-of-type(1) {
  height: 100vh;
  background-image: url("../img/coding-on-a-computer.png");
  background-size: cover;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section:nth-of-type(1) img {
  width: 70%;
}

section:nth-of-type(1) p {
  font-size: 1.8rem;
  text-align: center;
  padding: 1.5% 5% 0 5%;
}

.cta {
  width: 12rem;
  background-color: var(--main_blue);
  color: #fff;
  border-radius: 2rem;
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #fff;
  margin-top: 2rem;
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

.cta:hover {
  background-color: #fff;
  color: var(--main_blue);
  transition: 0.3s;
}

.cta a {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 1000px) {
  section:nth-of-type(1) p {
    padding: 1.5% 20% 0 20%;
  }

  section:nth-of-type(1) img {
    width: 40%;
  }
}

/*----------------------------*/
/* SECTION SERVICIOS */

section:nth-of-type(2) {
  height: 100%;
  background: rgb(231, 231, 231);
  font-size: 1.6rem;
  padding: 3% 0 10% 0;
}

.horizontal-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.servicios h1,
.servicios-supp h1 {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  font-size: 2.2rem;
  text-align: center;
}

.servicios,
.servicios-supp {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 2px 0.8rem 1rem rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  margin: 3rem 0 0 0;
}

.servicios:hover,
.servicios-supp:hover {
  transform: scale(1.05);
}

.image-data,
.image-data-supp {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.card-data,
.card-data-supp {
  background-color: #fff;
  padding: 2rem;
  position: relative;
}

.card__title,
.card__title-supp {
  font-size: 3rem;
  line-height: 1;
}

.card__description,
.card__description-supp {
  padding: 2% 0 0 0;
  position: relative;
}

.card__description::before,
.card__description-supp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 2.5rem;
  background-color: var(--gradient-color);
  border-radius: 2rem;
}

@media screen and (min-width: 1000px) {
  .servicios,
  .servicios-supp {
    flex-direction: row;
    height: 100%;
  }

  .image-data,
  .image-data-supp {
    flex-basis: 40%;
    height: unset;
  }

  .card-data,
  .card-data-supp {
    flex-basis: 60%;
    padding: 5rem 5rem;
  }

  .card-data::before {
    content: "";
    width: 3.5rem;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: -1.5rem;
    z-index: 10;
    transform: skewX(-5deg);
  }

  .card-data-supp::before {
    content: "";
    width: 3.5rem;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: -1.5rem;
    z-index: 10;
    transform: skewX(-5deg);
  }

  .serv-dev,
  .serv-supp,
  .serv-main {
    display: none;
    width: 100%;
  }

  .servicios h1,
  .servicios-supp h1 {
    text-align: justify;
    font-size: 2.6rem;
  }
}

/* DESARROLLO */

.background-image-dev {
  background: url("../img/servicios-desarrollo.png") center no-repeat;
}

.background-image-dev {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
}

/* SOPORTE */

.background-image-supp {
  background: url("../img/servicios-soporte.png") center no-repeat;
}

.background-image-supp {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
}

/* MANTENIMIENTO */

.background-image-main {
  background: url("../img/servicios-mantenimiento.png") center no-repeat;
}

.background-image-main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
}

/*----------------------------*/
/* SECTION PRODUCTOS */

section:nth-of-type(3) {
  background: var(--main_blue);
  height: 100%;
  padding: 3% 0 15% 0;
}

.container__productos {
  margin-top: 10rem;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.cards__productos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.box {
  width: 40rem;
  height: 45rem;
  background: rgb(49, 49, 49);
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(112, 112, 112);
  display: flex;
  justify-content: center;
}

.box .contentBx {
  margin-top: auto;
  margin-bottom: auto;
  width: 80%;
  height: 15rem;
  color: #000;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.5s;
}

.box .contentBx .sica {
  width: 60%;
  display: flex;
  margin: auto;
  margin-top: 3rem;
}

.box .contentBx img {
  width: 30%;
  display: flex;
  margin: auto;
  margin-top: 1.5rem;
}

.box .contentBx p {
  margin: 1rem 0 0;
  padding: 6rem 2rem 2rem 2rem;
  opacity: 0;
  line-height: 1.2em;
  font-size: 1.7rem;
  transition: 0.5s;
  text-align: center;
}

.box:hover .contentBx p {
  opacity: 1;
}

.box:hover .contentBx {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  cursor: default;
}

@media screen and (max-width: 1000px) {
  .cards__productos {
    display: grid;
    row-gap: 5rem;
  }
}

/*----------------------------*/
/* SECTION CLIENTES */

.clientes {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(27, 27, 27);
  height: 20vh;
}

.clientes img {
  opacity: 0.2;
  width: 5%;
  height: 50%;
}

.clientes img:hover {
  opacity: 1;
  transition: 1s;
}

@media screen and (max-width: 1000px) {
  .clientes {
    display: none;
    grid-template-columns: repeat(3, 1fr);
  }

  .clientes img {
    width: 4rem;
    margin: auto;
  }
}

/*----------------------------*/
/* SECTION CONTACTO */

section:nth-of-type(4) {
  background: rgb(44, 44, 44);
  padding: 5% 7% 7% 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacto .form {
  width: 80rem;
  color: #fff;
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(49, 49, 49);
  border: 1px solid rgb(177, 177, 177);
  box-shadow: black 0rem 0.5rem 1.5rem 0.05rem;
}

.contacto .info {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.contacto .contact {
  display: flex;
}

.contacto input,
button,
textarea {
  font-family: "Cantarell", sans-serif;

  background-color: rgb(49, 49, 49);
  color: rgb(177, 177, 177);

  padding: 1rem;
}

.contacto input,
textarea {
  font-size: 1.4rem;
  border: none;
  border-bottom: 1px solid rgb(177, 177, 177);
}

.contacto input:focus,
textarea:focus {
  outline: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.contacto textarea {
  height: 15rem;
}

.contacto button {
  border: 1px solid rgb(177, 177, 177);
  width: 10rem;
  margin-left: auto;
  margin-top: 2rem;
  cursor: pointer;
}

.contacto button:hover {
  color: #fff;
  border: 1px solid #fff;
  transition: 0.2s;
}

.contacto label {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
}

.contacto input::placeholder,
textarea::placeholder {
  color: rgb(177, 177, 177);
}

.contacto input:focus::placeholder,
textarea:focus::placeholder {
  color: #fff;
}

.contacto h1 {
  height: fit-content;
  font-size: 3rem;
  font-family: "Roboto Slab", sans-serif;
  letter-spacing: 0.5rem;
  text-align: center;
}

.form-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-img img {
  opacity: 0.05;
  width: 15vw;
  height: 30vh;
  position: absolute;
  margin: auto;
  pointer-events: none;
}

.contacto .name {
  margin-right: 5rem;
}

.contacto .name .lastname {
  width: 100%;
}

.contacto .fullname {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1100px) {
  .form-img img {
    width: 50%;
  }

  .contacto .form {
    flex-direction: column;
    width: 80vw;
    padding: 5rem 0 5rem 0;
    align-items: center;
  }

  .contacto .contact {
    justify-content: center;
    margin-bottom: 2rem;
  }

  .contacto .fullname {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .contacto .fullname input {
    width: 97%;
    padding-right: 0;
    margin-right: 0;
  }

  .contacto textarea {
    height: 100%;
  }

  .contacto .info {
    width: 75%;
    padding: 0;
  }
}

.form__input-error {
  font-size: 1.3rem;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  margin-top: 1rem;
  display: none;
}

#grupo__nombre .form__input-error {
  margin-right: 1rem;
}

.form__input-error-activo {
  display: block;
}

.form__msg {
  height: 100%;
  line-height: 4.5rem;
  background: #ee6c6c;
  padding: 0 1.5rem;
  border-radius: 0.3rem;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  display: none;
}

.form__msg-activo {
  display: block;
}

.form__msg p {
  margin: 0;
  font-size: 1.4rem;
  font-family: "Ubuntu", sans-serif;
}

.form__msg-success {
  height: 100%;
  line-height: 4.5rem;
  background: #8bfa94;
  color: #000;
  padding: 0 1.5rem;
  border-radius: 0.3rem;
  text-align: center;
  display: none;
}

.form__msg-success p {
  margin: 0;
  font-size: 1.4rem;
  font-family: "Ubuntu", sans-serif;
}

.form__msg-success-activo {
  display: block;
}

.name.form__correcto,
.lastname.form__correcto,
.email.form__correcto,
.message.form__correcto {
  border-bottom: 1px solid #1ed12d;
  color: #fff;
}

.name.form__error,
.lastname.form__error,
.email.form__error,
.message.form__error {
  border-bottom: 1px solid #d32e2e;
}

#grupo__mensaje,
#grupo__email,
#grupo__nombre,
#grupo__apellido {
  display: inherit;
  flex-direction: inherit;
  margin-bottom: 5rem;
}

#grupo__nombre,
#grupo__apellido {
  display: grid;
  columns: 1;
}

/*----------------------------*/
/* FOOTER */

footer {
  background-color: rgb(27, 27, 27);
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

footer a {
  color: rgb(122, 122, 122);
}
